:root {
    --background-color-top: #050b1b;
    --background-color-bottom: #065168;
    --primary-text-color: #f2f1fa;
    --link-text-color: #body {
    };
}

body {
    color: var(--primary-text-color);
    background: var(--background-color);
    background: linear-gradient(to bottom, var(--background-color-top), var(--background-color-bottom));
    background-attachment: fixed;
    background-size: 100% 200%;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%; 
}

img {
    border: 1px solid #ffffff;
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20%;
}

a {
    color: #e95838;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

form input[type="email"] {
    padding: 1em;
    border: none;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 1em;
}

form input[type="submit"] {
    padding: 1em;
    background-color: #e95838;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #ca4424;
}